@media only screen and (min-width: var(--laptopVp)) {
	.preloader-container {
		.precontainer {
			display: flex;
			align-items: center;
			transform: scale(1);

			.wr-preloader {
				.items {
					.ml5 {
						display: flex;
						justify-content: center;
						transform: scale(1);
					}
				}
			}
		}
	}

	.sidebar-container {
		height: 100%;
		ul {
			position: fixed;
			left: 2%;
			display: flex;
			flex-direction: column;
			justify-content: center;

			li {
				margin: 20% 0;
				transform: scale(0.9);
				a {
					font-size: 1rem;
				}
			}
		}
	}

	.home-container {
		.nav-container {
			padding: 0%;
			nav {
				.logo-icon {
					img {
						transform: scale(0.9);
					}
				}
				ul {
					li {
						transform: scale(0.9);
					}
				}
			}
		}

		.text-container {
			h2 {
				margin-top: 7%;
				.text-5xl {
					font-size: 2.5rem;
				}
				.text-2xl {
					font-size: 1.5rem;
				}
			}
		}

		.image-container {
			img {
				transform: scale(1);
			}
		}
	}

	.project-container {
		.card {
			.card-body {
				h1,
				a {
					font-size: 1rem;
				}
			}
		}
	}

	.about-container {
		min-height: 500px;
		height: 100%;

		.intro {
			.intro-container {
				p {
					font-size: 1rem;
					line-height: 1.5rem;
					font-weight: normal;
				}
			}
		}

		.skills {
			.skills-container {
				transform: scale(0.9);
			}
		}
	}

	.contact-container {
		height: 100%;
		min-height: 500px;

		.text-container {
			display: flex;
			align-items: center;

			.intro-container {
				P {
					font-size: 1rem;
					line-height: 1.5rem;
					font-weight: normal;
				}
			}
		}

		.contact-form-container {
			display: flex;
			flex-direction: column;
			align-items: center;

			.form {
				flex-direction: column;
				display: flex;

				.email-container,
				.text-container {
					input {
						font-size: 1rem;
					}
					label {
						span {
							font-size: 1rem;
						}
					}
				}
				.btn-container {
					a {
						transform: scale(0.9);
					}
				}
			}
		}

		.social-container {
			width: 100%;
			margin: auto;

			div {
				width: 80%;
				margin: auto;
				display: flex;
				justify-content: space-evenly;
				a {
					transform: scale(0.9);
				}
			}
		}
	}
}
