@import "src/assets/scss/";

.notification-container {
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: max-content;
	padding: 20px 15px;
	border-radius: 5px;
	box-shadow: 0 1px 10px var(--sidebarColor);
	transform: translateY(30px);
	opacity: 0;
	visibility: hidden;
	animation: fade-in 4s linear forwards;
	color: var(--textColor);
}

.notification__progress {
	position: absolute;
	left: 5px;
	bottom: 5px;
	width: calc(100% - 10px);
	height: 3px;
	transform: scaleX(0);
	transform-origin: left;
	background: linear-gradient(to right, var(--highlight1), var(--highlight2))
		border-box;
	border-radius: inherit;
	animation: load 3s 0.25s linear forwards;
}

@keyframes fade-in {
	5% {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
	90% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes load {
	to {
		transform: scaleX(1);
	}
}
