@keyframes shake {
	0% {
		transform: translate(0.3px, 0.3px) rotate(0deg);
	}
	10% {
		transform: translate(-0.3px, -0.8px) rotate(-1deg);
	}
	10% {
		transform: translate(-1.3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(1.3px, 0.8px) rotate(0deg);
	}
	40% {
		transform: translate(0.3px, -0.3px) rotate(1deg);
	}
	50% {
		transform: translate(-0.3px, 0.8px) rotate(-1deg);
	}
	60% {
		transform: translate(-1.3px, 0.3px) rotate(0deg);
	}
	70% {
		transform: translate(1.3px, 0.3px) rotate(-1deg);
	}
	80% {
		transform: translate(-0.3px, -0.3px) rotate(1deg);
	}
	90% {
		transform: translate(0.3px, 0.8px) rotate(0deg);
	}
	100% {
		transform: translate(0.3px, -0.8px) rotate(-1deg);
	}
}
