:root {
	// --4kVp: 2560px;
	// --lVp: 1440px;
	// --laptopVp: 1024px;
	// --tabletVp: 768px;
	// --mobileLvp: 425px;
	// --mobileMvp: 375px;
	// --mobileSvp: 320px;

	--highlight: #0ab7bd;
	--highlight1: #06b6d4;
	--highlight2: #14b8a6;
	--bgColor: #131214;
	--bgColorOpacity: #121413de;
	--sidebarColor: #1d1a1a;
	--textColor: #eaeaea;
	--highlightOpacity: #0ab7bd18;
	--danger: #d63636;
	// --danger: #b55050;
	--light: #eaeaea;
	--dark: #131214;
	--success: #36d666;
	// --success: #57b550;
}

// $bgColor: #131214;
// $_4kVp: 2560px;
// $lVp: 1440px;
// $laptopVp: 1024px;
// $tabletVp: 768px;
// $mobileLvp: 425px;
// $mobileMvp: 375px;
// $mobileSvp: 320px;

// $firstHeaderSize: 3rem;
// $secondHeaderSize: 1.5rem;
// $textSize: 1rem;
// // $fontFamily:;

// $highlight: #0ab7bd;
// $highlight1: #06b6d4;
// $highlight2: #14b8a6;
// $bgColor: #131214;
// $bgColorOpacity: #eaeaea10;
// $sidebarColor: #1d1a1a;
// $textColor: #f4f8ff;
// $highlightOpacity: #0ab7bd18;
