@import "src/assets/scss";

.project-table {
	width: 100%;
	padding: 0.5rem;
	@include flex();
	flex-direction: row;
	background-color: var(--sidebarColor);
	border-radius: 6px;
	margin: 2rem 0;

	.upper_level {
		width: 30%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;

		.project-info {
			text-align: center;
			@include gradient();
		}

		.title-separator {
			@include gradient();
		}
	}

	.middle_level {
		width: 30%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;

		img {
			height: 40px;
		}
	}

	.bottom_level {
		width: 40%;
		@include flex();
		flex-direction: row;
		justify-content: flex-end;
		.edit,
		.remove {
			img {
				height: 15px;
				padding: 0 0.5rem;
			}
		}

		.remove:hover {
			animation: shake 1s;
			animation-iteration-count: infinite;
		}
	}
}
