.settings_contact_info-container {
	width: 100%;
	form {
		width: 100%;

		.settings_input {
			width: 100%;
			padding: 0.5rem;
		}
		.settings_contact_info-container {
			padding: 0.5rem;
			width: 100%;
		}
	}
}
