@import "src/assets/scss/";

.textarea-container {
	display: flex;
	flex-direction: column;
	width: 100%;

	textarea {
		width: 100%;
		background-color: var(--sidebarColor);
		background: linear-gradient(var(--sidebarColor), var(--bgColor))
				padding-box,
			linear-gradient(to right, var(--highlight1), var(--highlight2))
				border-box;
		border-radius: 10px;
		border: 1px solid transparent;
		padding: 5px;
		color: var(--textColor);
		&:focus {
			outline: none !important;
		}
	}
}
