@import "src/assets/scss/";
.admin-container {
	margin: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	@include flex();
	gap: 1rem;

	.admin_input {
		width: 50%;
		@include flex();
		background-color: var(--bgColorOpacity);
		border: none;
	}
}
