.client_card-container {
	background-color: aliceblue;
	height: 90px;
	width: 100px;
	border-radius: 5px;
	display: flex;
	padding: 0.5rem;
	justify-content: space-between;

	.client_info-container {
		opacity: 0;
		position: absolute;
	}

	.client_img-container {
		width: 100px;
		transform: translate(0, -25px);
		img {
			border-radius: 3px;
		}
	}

	&:hover {
		width: 250px;
		.client_info-container {
			position: unset;
			opacity: 1;
		}
		.client_name {
			opacity: 0;
		}
	}
}
